{%extends 'base.html'%}

{%block body_block%}

<div class="container border border-5 border-dark mt-5 p-5 bg-warning">
    <u>
        <h1 class="text-center fw-bolder">DISH FEST</h1>
    </u>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <form action="" method="post">
                {%csrf_token%}
                <div>
                    <label for="" class="fw-bold">Name :</label>
                    <input type="text" class="form-control" name="name" placeholder="Enter the dish name">
                </div>

                <div class="mt-5">
                    <label for="" class="fw-bold">Category :</label>
                    <input type="text" class="form-control" name="category" placeholder="Enter the category">
                </div>

                <div class="mt-5">
                    <label for="" class="fw-bold">Price :</label>
                    <input type="text" class="form-control" name="price" placeholder="Enter the Price">
                </div>

                <div class="mt-5">
                    <label for="" class="fw-bold">Rating :</label>
                    <input type="text" class="form-control" name="rating" placeholder="Rate the dish">
                </div>
                

                <div class="mt-5 mb-5 text-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
                    <button type="submit" id="add" class="btn btn-primary">ADD TO DISH LIST</button>
                </div>

                
                <div class="col-3"></div>
            </form>
        </div>

    </div>

</div>

{%endblock%}