{%extends 'base.html'%}

{%block body_block%}

<div class="container">
    
    <h2>{{request.user}}</h2>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            {%if messages%}
            {%for msg in messages%}
            {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-dander alert-dismissible fade show" role="alert">
                <strong>{{msg}}</strong> 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endif %}

            {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{msg}}</strong> 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endif %}
            {%endfor%}
            {%endif%}
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Dish_name</th>
                    <th>Username</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Rating</th>
                    <th>Action</th>
                </tr>
                {%for dish in dishes%}
                <tr>
                    <td>{{dish.id}}</td>
                    <td>{{dish.name}}</td>
                    <td>{{dish.user}}</td>
                    <td>{{dish.category}}</td>
                    <td>{{dish.price}}</td>
                    <td>{{dish.rating}}</td>
                    <td>
                        <a href="{%url 'dish-detail' dish.id%}" class="btn btn-info">Detail</a>
                        <a href="{%url 'dish-update' dish.id%}" class="btn btn-warning">Edit</a>
                        <a href="{%url 'dish-delete' dish.id%}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {%endfor%}
            </table>
        </div>
        <div class="col-2"></div>
    </div>
</div>

{%endblock%}